	<section class="content">
		<div class="top-row">
			<div class="shoe-column">
				<div class="big-column">
					<img src="./images/bigshoe.png">
				</div>
					
				<br>

				<div class="small-column">
					<div class="small-row">
						<div class="smallshoe1">
							<a href=""><img src="./images/smallshoe1.png"></a>
						</div>
							
						<div class="smallshoe2">
							<a href=""><img src="./images/smallshoe2.png"></a>
						</div>
							
						<div class="smallshoe3">
							<a href=""><img src="./images/smallshoe3.png"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="detail-column">
				<div class="first-column">
					<h2>GEL-FUJITRABUCO 5 G-TX</h2>
				</div>
				
				<br>

				<div class="second-column">
					<div>
						<a href=""><img src="./images/brandlogo.png"></a>
					</div>

					<div>
						<h1>kr 947.90</h1>
					</div>
				</div>

				<div class="third-column">
					<h3>kr 1115.24</h3>
				</div>

				<div class="fourth-column">
					<h4>You save 15.00%</h4>
				</div>
				
				<br>
				<br>
				<br>

				<div class="fifth-column">
					<div class="size">
						<h4>Size</h4>
						<input type="text" placeholder="EU 45 Black">
					</div>

					<div class="amount">
						<h4>Amount</h4>
						<input type="text" placeholder="1">
					</div>
				</div>
				
				<br>
				<br>

				<div class="sixth-column">
					<button class="buybutton">BUY NOW</button>
				</div>
			</div>
		</div>
	</section>