* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: "PT Sans";
}

a {
  color: gray;
}

a:hover {
  color: #f45a40;
}

p {
	font-family: Arial;
}

.header {
	width: 100%;
}

.logcheck {
	display: flex;
	justify-content: center;
	margin-top: 2%; 
}

.logo-row {
	display: flex;
	justify-content: space-between;
	width: 85%;
}

.rightinfo {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.number p, .email p {
	font-family: Arial;
	font-size: 14px;
	text-transform: uppercase;
	color: gray;
	margin-right: 20px;
}

.button {
	font-size: 14px;
	font-family: Arial;
  color: gray;
  padding: 7px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-width: 1px;
  border-color: rgb(237, 237, 237);
  border-style: solid;
  background-color: rgb(237, 237, 237);
  cursor: pointer;
}

.headerline {
	width: 85%;
	margin-left: 7.4%;
	margin-top: 2%;
  border: none;
  background-color: lightgray;
  height: 1px;
}

.navsearch {
	display: flex;
	justify-content: center;
}

.search {
	display: flex;
	align-items: center;
}

input[type=text] {
	border: 0;
}

.nav-row {
	display: flex;
	justify-content: space-between;
	width: 85%;
	margin-top: 5px;
}

.nav li {
	display: inline-block;
	font-family: "PT Sans";
	font-size: 18px;
	margin-right: 50px;
  background-color: white;
}

.nav li, a:link {
	text-decoration: none;
	color: gray;
}

/* The container <div> - needed to position the dropdown content */
.dropbtn {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.nav:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav:hover .dropbtn {
    background-color: #3e8e41;
}

.slider {
	width: 100%;
	margin-top: 10px;
}

/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  display: flex;
  flex-flow: column wrap;
  bottom: 26%;
  color: white;
  padding-top: 20px;
  padding-left: 7.5%;
  padding-bottom: 30px;
  position: absolute;
  width: 36%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
}

.text h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
}

.text p {
  font-size: 15px;
}

.shopbrasil {
  font-size: 14px;
  font-family: Arial;
  color: white;
  height: 40px;
  width: 140px;
  text-align: center;
  border: none;
  background-color: #f45a40;
  cursor: pointer;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.categories {
  display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 6%;
}

.c-row {
	display: flex;
	flex-flow: row wrap;
	width: 85%;
	justify-content: space-between;
}

.football h2, a:link, .clothes h2, a:link, .bags h2, a:link {
  font-family: "PT Sans";
  color: #f45a40;
	text-decoration: none;
}

.football p, .clothes p, .bags p {
  display: flex;
	word-wrap: break-word;
  color: gray;
  width: 350px;
}

.products {
	display: flex;
	justify-content: center;
	width: 100%;
}

.popular-row {
	display: flex;
	justify-content: center;
  align-items: center;
	color: gray;
	margin-top: 5%;
	margin-bottom: 4%;
}

.hrleft {
  background-color: lightgray;
  position: absolute;
  left: 28%;
  width: 150px;
  height: 1px;
  z-index: 300;
  border: none;
}

.hrright {
  background-color: lightgray;
  position: absolute;
  right: 28%;
  width: 150px;
  height: 1px;
  z-index: 300;
  border: none;
}

.shoe-rows {
	display: flex;
	flex-flow: column wrap;
	width: 85%;
	justify-content: center;
}

.shoe-row1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.pic-box, .text-box {
  border: 1px solid #e6e6e6;
}

.pic-box {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 5px;
  padding-left: 5px; 
}

.text-box {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: gray;
  border-top: none;
}

.text-box h4 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.text-box p {
  display: flex;
  font-size: 12px;
  padding-top: 5px;
}

.box-hr {
  margin-top: 10px;
  margin-bottom: 5px;
  border: 0;
  height: 1px;
  background-color: #e6e6e6;
  width: 94%;
}

.buynow {
  font-size: 17px;
  font-family: "PT Sans";
  color: white;
  padding: 7px 100px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-width: 1px;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  background-color: #f45a40;
  cursor: pointer;
}

.shoe-row2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.newsletter {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #f45a40;
  align-items: center;
  height: 100px;
  margin-top: 2%;
}

.news-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 85%;
}

.newstext h2 {
  font-family: "PT Sans";
  color: white;
}

.mailbutton-row {
  display: flex;
  flex-flow: row wrap;
}

input[type=text] {
  height: 35px;
  width: 200px;
}

input[placeholder] {
  color: gray;
  padding-left: 20px;
}

.signup {
  font-size: 14px;
  font-family: Arial;
  color: white;
  height: 35px;
  width: 100px;
  text-align: center;
  border: none;
  background-color: rgb(255, 103, 79);
  margin-left: 20px;
  cursor: pointer;
}

.left-column p, .mid-column p, .right-column p {
  font-family: Arial;
}

.bottom {
  display: flex;
  justify-content: center;
  background-color: #2A2D34;
  align-items: center;
  min-height: 300px;
}

.bottom-row {
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  justify-content: space-between;
  color: gray;
  font-family: "PT Sans";
}

.both {
  display: flex;
  flex-flow: row wrap;
}

.fb {
  height: 25px;
}