	<header class="header">
		<section class="logcheck">
			<div class="logo-row">
				<div class="logo">
					<a href><img src="../../images/logo.png"></a>
				</div>

				<div class="rightinfo">
					<div class="phone-icon">
						<a href=""><img src="../../images/telephone.png"></a>
					</div>

					<div class="number">
						<a href><p>+45 23456789</p></a>
					</div>
					
					<div class="email-icon">
						<a href=""><img src="../../images/email.png"></a>
					</div>

					<div class="email">
						<a href><p>lorem@ipsum.com</p></a>
					</div>

					<div class="checkout">
						<a href><button class="button"><img src="../../images/shoppingcart.png"> $ 99.54 CHECKOUT</button></a>
					</div>
				</div>
			</div>
		</section>

		<hr class="headerline">	

		<section class="navsearch">
			<div class="nav-row">
				<nav class="nav">
					<ul>
						<li class="dropdown"><a href="" class="dropbtn">HOME</a>
							<div class="dropdown-content">
								<li><a href="">LINK 1</a></li>
								<li><a href="">LINK 2</a></li>
								<li><a href="">LINK 3</a></li>
							</div>
						</li>

						<li><a href="" title="">MEN</a></li>
						<li><a href="" title="">WOMEN</a></li>
						<li><a href="" title="">KIDS</a></li>
						<li><a href="" title="">SALE</a></li>
						<li><a href="" title="">ABOUT US</a></li>
						<li><a [routerLink]="['support']" title="">SUPPORT</a></li>
					</ul>
				</nav>

				<div class="search">
					<img src="../../images/search.png">
					<input type="text" name="search" placeholder="Search...">
				</div>
			</div>
		</section>
	</header>