	<footer class="footer">
		<section class="newsletter">
			<div class="news-row">
				<div class="newstext">
					<h2>SIGN UP FOR EXCLUSIVE SALES AND PRODUCT NEWS</h2>
				</div>
				
				<div class="mailbutton-row">
					<div class="newsmail">
						<input type="text" placeholder="LOREM@IPSUM.COM">
					</div>

					<a href><button class="signup">SIGN UP</button></a>
				</div>
			</div>
		</section>
		
		<section class="bottom">
			<div class="bottom-row">
				<div class="left-column">
					<a href><h2><font color="white">OUR STORES</font></h2><br></a>
					<p>Feel free to visit our stores or contact us.<br><br> 
						Vinegade 109<br>
						5000 Odense<br> 
						99886622<br><br> 
						Vestergade 910<br> 
						9000 Aalborg<br> 
						96819191<br><br>
					</p>

					<a href=""><img class="fb" src="../../images/facebook-letter-logo.svg"></a>
					<img class="four-icons" src="../../images/4-icons.png">
				</div>
				
				<div class="mid-column">
					<h2><a href=""><font color="white">BLOG POSTS</font></a></h2><br>
					<p><a href=""><font color="white">Lorem ipsum hey</font></a><br> 
						Lorem ipsum dolor sit amet, consectetur<br> 
						adipiscing elit. Donec sed auctor elit.<br><br>

						<a href=""><font color="white">New sexy sports clothes are here!</font></a><br>
						Lorem ipsum dolor sit amet, consectetur<br> 
						adipiscing elit. Donec sed auctor elit.<br><br>

						<a href=""><font color="white">Summer sales are coming!</font></a><br>
						Lorem ipsum dolor sit amet, consectetur<br> 
						adipiscing elit. Donec sed auctor elit.
					</p>
				</div>

				<div class="right-column">
					<a href="support.html"><h2><font color="white">SUPPORT</font></h2><br></a>

					<div class="both">
						<div class="supportp">
							<p>Terms & Conditions<br>
								FAQ<br>
								Payment<br>
								Refunds<br>
								Track Order<br>
								Services<br>
								Privacy & Security<br>
								Careers<br>
								Press<br>
								Corporate Information
							</p>
						</div>

						<div class="supportp">
							<p>Sizing<br>
								Ordering<br>
								Shipping<br>
								Return Policy<br>
								Affilliates<br>
								Find A Store<br>
								Site Map<br>
								Sign Up & Save
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</footer>