    <section class="slider">
		<div class="slideshow-container">
  			<div class="mySlides fade">
    			<img src="../../images/fixed.jpg" style="width:100%">
    			<div class="text">
    				<h2>RIGHT IS PINK.<br>
    					LEFT IS BLUE
    				</h2>

    				<p>
    					Inspired by Brasil's bold colors and matching up to football's on-pitch<br>
    					playmakers, these kicks are ready to stand out.
    				</p>
					
					<br>

    				<button class="shopbrasil">SHOP BRASIL</button>
    			</div>
  			</div>
		</div>

		<br>

		<div style="text-align:center">
  			<span class="dot" onclick="currentSlide(1)"></span> 
  			<span class="dot" onclick="currentSlide(2)"></span> 
  			<span class="dot" onclick="currentSlide(3)"></span> 
		</div>
	</section>